nav{
  background-color: #C12127;
  color: rbga(255,255,255,0.8);
  padding-top: 15px;
  height: 100px;
}
nav a{
  color: rgba(255,255,255,0.8);
  text-decoration: none;
}
.top-links{
  display: inline-block;
  float: right;
  padding: 0;
  margin: 0 20px 0 0;
}
.top-links-li{
  display: inline-block;
  margin: 0 10px;
}
.search-bar{
  font: white;
  button: rgb(240, 146, 51);
  background: rgb(32, 101, 136);
 search-bar-background: rgb(31, 82, 111);
}
.header-content{
  color: white;
  font-size: 0.5em;
  button: rgb(240, 146, 51);
  background: rgb(32, 101, 136);
}
.header-content-title{
  text-align: center;
  color: white;
}
.learn-more{
  padding: 175px;
  color: white;
  background: rgb(39, 53, 710);
  button: rgb(203, 56, 55);
}
.collab{
  float: right;
}
.install{
  color: white;
  button: rgb(49, 68, 88);
  background-size: cover;
  position: absolute;
}
.final-heading{
 margin: 0 auto;
 color: rgb(83, 88, 98);
  background: white;
}
.bottom{
  margin: 0 auto;
  color: rgb(135, 145, 156);
  background: white;
  link-color: rgb(208, 74, 73)
}